.header, .page1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 250px;
    padding-right: 250px;
}
.page1{
    height: 50vh;
}
.page2{
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.secondaryText{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}
.mainText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.imgPlaceholder{
    background-color: #E5E7EB;;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero, .imgPlaceholder{
    flex: 1;
    max-width: 35vw;
    height: 250px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
#logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
.signButton{
    background-color: #3882F6;
    height: 35px;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    border: #3882F6;
    font-size: 15px;
    color: #F9FAF8;
    font-weight: bold;
}
#p2tittle{
    text-align: center;
    color: #1F2937;
    font-weight: bold;
    font-size: 36px;
}
.p2box{
    max-width: 150px;
    text-align: center;
    color: #E5E7EB;
}

.illustration{
    height: 150px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882F6;
}